.highlight-content {
	background: #eee;
	padding: 1.4em;
	overflow: hidden;
	margin-bottom: 1.4em;
}

.highlight-content .block {
	background: #fff;
	padding: .4em 1.4em !important;
	border-bottom: 4px solid #ddd;
	margin-bottom: 1.4em;
	max-width: 960px;
	margin: 0 auto .4em auto;
}

.highlight-content .block:last-child {
	margin-bottom: 0;
}